
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>Esta pagina esta realizada en Visual Studio con C Sharp se considera una pagina para control de docentes de la Universidad Mariano Galvez de Guatemala</p>