
@{
    ViewBag.Title = "INFORMACION DEL ALUMNO";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <p> Jeremy de León </p>
    <p> Carne: 0900-22-2413 </p>
    <p> Sección: C </p>
    <p> <strong> Soporte: </strong> jdeleonr21@miumg.edu.gt </p>
    <p> <strong> Curso: </strong> Programacion 2 </p>
</div>